@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./antonio-gabola-NRF1IQrwwPs-unsplash.jpg");

  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: azure;
  margin: 0;
  font-weight: bold;
}

h1 {
  font-size: 4rem;
  margin-top: -45rem;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.big-text {
  font-size: 7rem;
  line-height: 1;
  margin: 1rem 2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.5rem;
}
